@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

p {
    font-family: 'Roboto', sans-serif;
}
span {
    font-weight: 900;
}

.app {
    margin: 80px 0;
    background-color: #E5E5E5;
    height: 100%;
}
.menu-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px 0 23px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
    height: 80px;
    width: 375px;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 26px;
}

.menu-topo img {
    width: 75px;
    height: 53px;
}
.menu-topo ion-icon {
    width: 42px;
    height: 31px;
}

.main {
    background-color: #f3f3f3
}

.footer {
    height: 80px;
    width: 375px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px 0 18px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

}

.footer ion-icon {
    width: 26px;
    height: 26px;
}

input {
    border: 0px;

}


.entrar-sair {
    background-color: #dcdcdc;
    border-radius: 2px;
    width: 375px;
    height: 40px;   
}

.geral {
    background-color: #FFFFFF;
    border-radius: 2px;
    width: 375px;
    height: 40px;   
    


}

.private {
    background: #FFDEDE;
    border-radius: 2px;
    width: 375px;
    height: 40px;   
    

}

.entrar-sair, .geral, .private {
    padding: 0 8px 0 8px;
    display: flex;
    align-items: center;
}